(ns leiningen.new.{{{project}}}
  (:use [leiningen.new.templates :only [renderer name-to-path sanitize-ns ->files]]))

(def render (renderer "{{{project}}}"))

(defn {{{project}}}
  [name]
  (let [data {:name name
              :ns-name (sanitize-ns name)
              :sanitized (name-to-path name)}]
    (->files data {{{files}}})))